
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
main{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
}

#notfound{
  color: #3282B8;
  font-size: 30px;
}